@model List<PROJETO01.Modelos.Barbeiro>

<h3 class ="mt-3">
    CADASTRO DE BARBEIROS 
    <a class="btn btn-sm btn-primary float-right" href="/Barbeiro/Adicionar">
        + ADICIONAR
    </a>
</h3>

<table class="table table-hover ">
         <thead id="theadPosition">
              <tr id="size">
                <th>IdBarbeiro</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Telefone</th>
                <th>Especialidade</th>
                <th>Preço Corte</th>
                <th>Ações</th>
              </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdBarbeiro</td>
                <td>@item.Nome</td>
                <td>@Convert.ToInt64(item.cpf).ToString(@"000\.000\.000\-00")</td>
                <td>@Convert.ToInt64(item.Telefone).ToString(@"(00)00000-0000")</td>
                <td>@item.EspecialidadeB.Especialidade</td>
                <td>@string.Format("{0:c2}", item.PrecoCorte)</td>
                
                <td>
                    <a href="/Barbeiro/Editar?IdBarbeiro=@item.IdBarbeiro" class="btn btn-sm btn-warning">
                        Editar
                    </a>
                    <a href="/Barbeiro/Excluir?IdBarbeiro=@item.IdBarbeiro" class="btn btn-sm btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    
    body{
        background: #e6e6e6;
    }

      #theadPosition{
      
        background: #cccccc;
    }
      th{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #size{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
 
</style>
